
<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  background: #660066;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 4px;
  background-color: #f2f2f2;
  padding: 20px;
}

.sentence{
  background-color: white;
  border-radius: 3px; 
}

.title{
  font-size:45px;
  font-weight: 500;
  color:#ffd32a;
}

.nav{
  font-size:15px;
  cursor: pointer;
  font-weight: 600;
  background-color: purple;
  border:solid black;
  border-radius: 3px;
}

.nav:active{
  transform: scale(0.95);
}

input[type="text"],textarea {
  font: 500 20px "Roboto", sans-serif;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #222; /* color*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  padding-top: 60px;
}

h1 {
  display: block;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 14px;
  color:white;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

h5 {
  margin: 5px 0 12px;
  display: block;
  font-size: 15px;
  font-weight: 600;
}

h6 {
  margin: 5px 0 20px;
  display: block;
  font-size: 14px;
  font-weight: 400;
}

input[type="text"],textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  border-radius: 4px; 
  box-shadow: 0px 0px 3px 2px #222;
  margin: 0 0 5px;
  padding: 10px;
}
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}


button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

input:focus,textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

textarea {
  height: 200px;
  max-width: 54%;  
  resize: none;
}
.input:hover{
  box-shadow: 0px 0px 3px 3px maroon;
}

input[type=text], select {
  width: 52%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

input[type=submit]:active{
  transform:scale(0.96);
}

input[type=reset]:active{
  transform:scale(0.96);
}

input[type=submit] {
  width: 16%;
  background-color: #4CAF50;
  box-shadow: 1px 1px 3px 2px black;  
  color:white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset] {
  width: 15%;
  background-color: #B22222;
  color: white;
  box-shadow: 1px 1px 3px 2px black;  
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  font-size: 25px;
  font-weight: 300;
}

input[type=submit]:hover {
  background-color: #45a049;
}
div[class='artb'] {
  border: 1px solid black;
  background-color: #2ecc71;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}

div[class='headb'] {
  border: 1px solid black;
  background-color: #e67e22;
  border-radius: 5px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

div[class='home'] {
  border: 1px solid black;
  background-color: #485460;
  border-radius: 5px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

div[class='about'] {
  border: 1px solid black;
  background-color: #3498db;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}

input[type=reset]:hover {
  background-color: #8B0000;
}

  </style>